
/******Tag Selector****/
body {
  background-color: #f8f3d4;
}
hr{
  background-color: #f8f3d4;
  border-style: none;
  border-top-style: dashed;
  border-color: black;
  border-width: 1px;
  width: 100%;
}
h1{
  color: #fa163f;
}
h3
{
  color: #fa163f;
}
/**Class Selector**/
.education{
  color: red;
}

/**Id Selector**/
#boki{
  color: blue;
}
